{% load static %}  <!-- Add this line at the top of your template to load the static tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Django Project with MaterializeCSS</title>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- MaterializeCSS library from static directory -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/preview.css' %}">


    <!-- Include Google Font for Handwritten Look -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

<!-- Your content here -->
{% block content %}
{% endblock %}
  <footer class="page-footer red darken-4">
    <div class="footer-copyright">
      <div class="container">
        © 2024 Esports Commentary Pvt. Ltd.
      </div>
    </div>
  </footer>


<!-- MaterializeCSS JavaScript from static directory -->
<script src="{% static 'js/materialize.min.js' %}"></script>
<!-- <script src="{% static 'js/script.js' %}"></script> -->
<script src="{% static 'js/particle.js' %}"></script>
</body>
</html>
