{% extends 'base.html' %}
{% load static %}  <!-- Add this line at the top of your template to load the static tag library -->
{% block content %}
<nav class="black darken-4">
   <div class="row container black darken-4">
      <div class="nav-wrapper purple">
         <!-- <a href="#" class="brand-logo" style="font-size: 18px;font-weight: 500;">Esports Commentary</a> -->
         <a href="{% url 'index' %}" class="brand-logo">
         <img src="{% static 'img/logo4.png' %}" alt="Esports Commentary" style="height: 70px; vertical-align: middle;">
         </a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href='{% url "index" %}' style="font-size: 13px;"><i class="material-icons left" style="font-size: 16px;">dashboard</i>Dashboard</a></li>
            <li><a class="waves-effect waves-light btn-small red darken-4">About</a></li>
         </ul>
      </div>
   </div>
</nav>
<div class="section black">
   <div class="row container">
      <h5 class="header" style="font-weight: bold;">
         <a href='{% url "index" %}' id="redoButton1" class="btn-floating btn-large red pulse right tooltipped"  data-position="right" data-tooltip="Translate again...!" style="display: none;">
         <i class="material-icons">translate</i>
         </a>    
      </h5>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row" id="form-container">
         <div class="col s6">
            <div class="image-container">
               <canvas id="canvas1"></canvas>
            </div>
         </div>
         <div class="col s6">
            <div class="card horizontal">
               <div class="card-stacked">
                  <div class="card-content" id="card-content">
                     <div class="row">
                        <form class="col s12" id="ajaxForm" enctype="multipart/form-data">
                           {% csrf_token %}  <!-- CSRF Token for security -->
                           <!-- Game Type Dropdown -->
                           <div class="col s12">
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">edit</i>
                                 <select name="textarea_field">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="0">Normal</option>
                                    <option value="1">Creative</option>
                                 </select>
                                 <label>Type</label>
                              </div>
                           </div>
                           <!-- Game Type Dropdown -->
                           <div class="col s12">
                              <div class="input-field col s12">
                                 <i class="material-icons prefix">sports_esports</i>
                                 <select name="game_type">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Game 1</option>
                                    <option value="2">Game 2</option>
                                    <option value="3">Game 3</option>
                                 </select>
                                 <label>Game Type</label>
                              </div>
                           </div>
                           <!-- File Upload -->
                           <div class="col s12 m12">
                              <div class="file-field input-field">
                                 <div class="btn blue">
                                    <span>File</span>
                                    <input type="file" name="file_upload" id="file_upload">
                                 </div>
                                 <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" id="text_english" name="text_english" value="">
                           <input type="hidden" id="text_french" name="text_french" value="">
                        </form>
                     </div>
                     <!-- Submit Button -->
                     <button class="btn waves-effect waves-light right blue" type="submit" id="submitForm">Generate Text
                     <i class="material-icons right">send</i>
                     </button>
                  </div>
                  <div class="card-content" style="display: none;" id="text-card">
                     <div class="row">
                        <div class="col s12">
                           <h5>Generated Text English</h5>
                           <div id="generated_text" contenteditable="true"
                              style="height: 300px; overflow-y: auto; padding: 10px; line-height: 1.6; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                              <!-- Content will be added dynamically -->
                           </div>
                           <!-- <label for="generated_text" style="display: block; margin-top: 5px; color: gray;">Generated Text</label> -->
                        </div>
                     </div>
                     <form id="generate-french" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <input type="hidden" id="generated_text_data" name="generated_text_data" value="">
                     </form>
                     <!-- Submit Button -->
                     <div class="button-group">
                        <button 
                           class="btn waves-effect waves-light blue button-spacing" 
                           type="button" 
                           id="goBackButton">
                        Go Back
                        <i class="material-icons right">arrow_back</i>
                        </button>
                        <button class="btn waves-effect waves-light blue" style="margin-right: 10px;" type="button" id="generateNewButton">
                        Generate New
                        <i class="material-icons right">autorenew</i>
                        </button>
                        <button class="btn waves-effect waves-light blue right" type="button" id="generateFrenchButton">
                        Generate French
                        <i class="material-icons right">translate</i>
                        </button>
                     </div>
                  </div>
                  <div class="card-content" style="display: none;" id="video-card">
                     <div class="row">
                        <div class="col s12">
                           <h5>Generated Text French</h5>
                           <div id="generated_text_french" 
                              style="height: 300px; overflow-y: auto; padding: 10px; line-height: 1.6; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                              <!-- Content will be added dynamically -->
                           </div>
                           <!-- <label for="generated_text" style="display: block; margin-top: 5px; color: gray;">Generated Text</label> -->
                        </div>
                     </div>
                     <form id="final-form" enctype="multipart/form-data">
                        {% csrf_token %} 
                        <input type="hidden" id="french_data" name="french_data" value="">
                        <input type="hidden" id="english_data" name="english_data" value="">
                     </form>
                     <!-- Submit Button -->
                     <div class="button-group">
                        <button 
                           class="btn waves-effect waves-light blue button-spacing" 
                           type="button" 
                           id="goBackButtonFrench">
                        Go Back
                        <i class="material-icons right">arrow_back</i>
                        </button>
                        <button class="btn waves-effect waves-light blue right" type="button" id="generateVideo">
                        Generate Video
                        <i class="material-icons right">ondemand_video</i>
                        </button>
                     </div>
                  </div>
                  <!-- Preloader Spinner (Positioned over the form) -->
                  <div id="preloader" class="center" style="display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.8); z-index: 999;">
                     <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-blue-only">
                           <div class="circle-clipper left">
                              <div class="circle"></div>
                           </div>
                           <div class="gap-patch">
                              <div class="circle"></div>
                           </div>
                           <div class="circle-clipper right">
                              <div class="circle"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- <div class="row container"> -->
            <div class="row">
               <div class="col s12">
                  <div class="card purple lighten-5" id="video-generated" style="display: none;">
                     <div class="video-container">
                        <iframe id="video-iframe" width="560" height="315" style="display:none;" frameborder="0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
            </div>
            <!-- </div> -->
         </div>
      </div>
   </div>
</div>
<script>
  document.getElementById('goBackButton').addEventListener('click', function () {
   // $('#video-card').hide();
   $('#text-card').hide();
   $('#card-content').show();
});

document.getElementById('goBackButtonFrench').addEventListener('click', function () {
   // alert("here..");
   $('#video-card').hide();
   $('#text-card').show();
});

$(document).ready(function () {
   $('select').formSelect();
});

$(document).ready(function () {
   $('.tooltipped').tooltip();
});

$(document).ready(function () {
   $('select').formSelect();
});

$(document).ready(function () {
    $('#submitForm').click(function (event) {
        event.preventDefault();

        // Form validation
        var videoFile = $('input[type="file"]')[0].files[0];
        var textType = $('select[name="textarea_field"]').val();
        var gameType = $('select[name="game_type"]').val();

        // Validate fields
        if (!videoFile) {
            M.toast({ html: 'Please select a video file', classes: 'red' });
            return;
        }
        if (!textType) {
            M.toast({ html: 'Please select a text type', classes: 'red' });
            return;
        }
        if (!gameType) {
            M.toast({ html: 'Please select a game type', classes: 'red' });
            return;
        }

        // Show processing toast
        M.toast({
            html: 'Processing video, please wait...',
            classes: 'purple',
            displayLength: 10000
        });

        // Show preloader and hide form
        $('#preloader').show();
        $('#card-content').fadeOut();

        // Create FormData and append files
        var formData = new FormData($('#ajaxForm')[0]);
        formData.append('temperature', 0);
        $.ajax({
            url: '{% url "upload" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            success: function (response) {
                console.log('Video processing response:', response);
                $('#preloader').hide();

                if (response.status === 'success') {
                    M.toast({
                        html: 'Successfully processed video',
                        classes: 'green',
                        displayLength: 4000
                    });

                    // Hide form and show results
                    $('#card-content').hide();
                    $('#text-card').fadeIn();

                    // Extract description from the response
                    const description = response.generated_text.description;
                    console.log("desd",description)
                    // Update UI with generated text
                    $('#generated_text').html(description);
                    $('#generated_text_data').val(description);
                    $('#text_english').val(description);
                    $('#english_data').val(description)
                    // Save text for potential reuse
                    localStorage.setItem('lastGeneratedText', description);

                    // Update Materialize fields
                    M.updateTextFields();
                } else {
                    handleError(response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error('Video processing failed:', error);
                
                let errorMessage = 'Failed to process video. Please try again.';
                
                // Handle specific HTTP errors
                if (xhr.status === 413) {
                    errorMessage = 'Video file is too large. Please use a smaller file.';
                } else if (xhr.status === 415) {
                    errorMessage = 'Unsupported video format. Please use MP4, MPEG, or QuickTime format.';
                } else if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMessage = xhr.responseJSON.message;
                }

                handleError(errorMessage);
            }
        });
    });

    // Helper function to handle errors
    function handleError(message) {
        $('#preloader').hide();
        $('#card-content').fadeIn();
        $('#form-container').show();

        M.toast({
            html: 'Error: ' + message,
            classes: 'red',
            displayLength: 6000
        });
    }

    // Helper function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
$(document).ready(function () {
   $('#generateNewButton').click(function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Show success toast
      M.toast({
         html: 'Pocessing...',
         classes: 'purple'
      });

      // Show the preloader and hide the form
      $('#preloader').show(); // Show preloader

      var formData = new FormData($('#ajaxForm')[0]); // Create FormData object from the form
       // Create FormData and append files
        formData.append('temperature', 1);

      $.ajax({
         url: '{% url "upload" %}', // Replace with the URL to your Django view
         type: 'POST',
         data: formData,
         processData: false,
         contentType: false,
         success: function (response) {
            console.log('Form submitted successfully: ', response);

            $('#preloader').hide();

            // Check if the response is successful and contains the video URL
            if (response.status === 'success') {

               M.toast({
                  html: 'Successfully processed video',
                  classes: 'green'
               });  // Hide form and show results
                    $('#card-content').hide();
                    $('#text-card').fadeIn();

                    // Extract description from the response
                    const description = response.generated_text.description;
                    console.log("desd",description)
                    // Update UI with generated text
                    $('#generated_text').html(description);
                    $('#generated_text_data').val(description);
                    $('#text_english').val(description);
                    $('#english_data').val(description)

               // If using Materialize, ensure the updated fields are correctly displayed
               M.updateTextFields();

            } else {

               // Show error toast with the response message
               M.toast({
                  html: 'Error: ' + response.message,
                  classes: 'red'
               });

               // Show the form again on failure
               $('#form-container').show();
            }
         },
         error: function (xhr, status, error) {
            console.error('Form submission failed: ', error);

            // Show error toast
            M.toast({
               html: 'Form submission failed! Please try again.',
               classes: 'red'
            });

            // Hide the preloader and show the form again on failure
            $('#preloader').hide();
            $('#form-container').show();
         }
      });
   });
});


$(document).ready(function () {
   $('#generateFrenchButton').click(function (event) {
      event.preventDefault(); // Prevent the default form submission

   // Update the hidden input field with the content of the editable div
    const updatedText = $('#generated_text').text();
    $('#generated_text_data').val(updatedText);

      // Show success toast
      M.toast({
         html: 'Pocessing...',
         classes: 'purple'
      });

      // Show the preloader and hide the form
      $('#preloader').show(); // Show preloader

      var formData = new FormData($('#generate-french')[0]); // Create FormData object from the form

      $.ajax({
         url: '{% url "generate_french" %}', // Replace with the URL to your Django view
         type: 'POST',
         data: formData,
         processData: false,
         contentType: false,
         success: function (response) {
            console.log('Form submitted successfully: ', response);

            // Hide the preloader
            $('#preloader').hide();

            // Check if the response is successful and contains the video URL
            if (response.status === 'success') {

               M.toast({
                  html: 'Successfully processed video',
                  classes: 'green'
               });

               // Hide the current form and show the new content
               $('#card-content').hide(); // Hides the current form
               $('#text-card').hide();


               // Show the container
               $('#video-card').fadeIn();

               // Add the generated text to the div
               $('#generated_text_french').text(response.generated_text);

               $('#text_french').val(response.generated_text);
               $('#french_data').val(response.generated_text)

            } else {

               // Show error toast with the response message
               M.toast({
                  html: 'Error: ' + response.message,
                  classes: 'red'
               });

               // Show the form again on failure
               $('#form-container').show();
            }
         },
         error: function (xhr, status, error) {
            console.error('Form submission failed: ', error);

            // Show error toast
            M.toast({
               html: 'Form submission failed! Please try again.',
               classes: 'red'
            });

            // Hide the preloader and show the form again on failure
            $('#preloader').hide();
            $('#form-container').show();
         }
      });
   });
});

$(document).ready(function () {
    function downloadVideo(videoPath, isLast = false) {
        window.location.href = `/serve-video/?path=${encodeURIComponent(videoPath)}`;
        
        if (isLast) {
            // Wait a bit to ensure download starts before refresh
            setTimeout(() => {
                M.toast({
                    html: 'Downloads complete. Refreshing page...',
                    classes: 'green'
                });
                
                // Wait for toast to be visible before refresh
                setTimeout(() => {
                    window.location.reload();
                }, 1500);
            }, 1500);
        }
    }

    $('#generateVideo').click(function (event) {
        event.preventDefault();
        $('#preloader').show();

        var formData = new FormData($('#final-form')[0]);

        $.ajax({
            url: '{% url "generate_video" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#preloader').hide();
                $('#form-container').show();
                
                if (response.status === 'success') {
                    M.toast({
                        html: 'Videos generated successfully. Starting downloads...',
                        classes: 'green'
                    });
                    
                    // Download English video first
                    downloadVideo(response.english_video, false);
                    
                    // Download French video after delay and trigger refresh
                    setTimeout(() => {
                        downloadVideo(response.french_video, true);
                    }, 1500);
                    
                } else {
                    M.toast({html: 'Error generating videos', classes: 'red'});
                }
            },
            error: function (xhr, status, error) {
                $('#preloader').hide();
                M.toast({html: 'Error generating videos', classes: 'red'});
                $('#form-container').show();
            }
        });
    });
});
</script>
{% endblock %}
